<form action="" [formGroup]="form" (ngSubmit)="submit()">
  <input type="text" name="name" placeholder="name" formControlName="name" />
  <br />
  <br />
  <br />
  <br />

  <input
    type="text"
    name="lastname"
    placeholder="lastname"
    formControlName="lastname"
  />
  <br />
  <br />
  <br />
  <br />

  <input
    type="email"
    name="email"
    placeholder="email"
    formControlName="email"
  />
  <br />
  <br />
  <br />
  <br />

  <button type="submit">Save</button>

  <hr />
</form>

<br />
<br />
<br />
<br />
<div>
  <table *ngFor="let dataStored of formDataStored">
    <tr>
      First Name ::
      <td>{{ dataStored.name }}</td>
    </tr>

    <tr>
      Last Name ::
      <td>{{ dataStored.lastname }}</td>
    </tr>

    <tr>
      E-mail ::
      <td>{{ dataStored.email }}</td>
    </tr>

    <tr>
      <td>
        <button type="button" (click)="editData(dataStored.id)">edit</button>
      </td>

      <td><button type="button" (click)="updateName()">update</button></td>
      <td><button type="button" (click)="deleteData()">delete</button></td>
    </tr>
    <hr />
  </table>
</div>
